<!-- app/views/index.html.erb -->
<html>
  <head>
    <title>Simple Ruby App</title>
  </head>
  <body>
    <h1>Hi There I am here.</h1>
    <p><%= @message %></p>
    <h3>Hi There I am here too.</h3>
  </body>
</html>
